<%-include ('header') -%>
<body>
    <h1>Get missed notifications</h1>
<form action="<%= action %>" method="post" id="get_missed">
  
    <% if (fields.length) { %>
        <div id="form">
        <% fields.forEach(function(field){ %>
            <label><%= field.name %></label>
            <input type="<%= field.type %>" name="<%=field.name%>"  id="<%= field.name %>" required %> >
        <% }) %>
        </div>
    <% } %>
    
    <button type="submit" id="submit">submit</button> <!--Title for button is same as that of the page-->
    <button type="reset" id="reset">reset</button>
    </form>
    <% if(query){ %>
    <% query.forEach(function(item){ %>
        <p>Date: <%=item[0]%> Time: <%=item[1]%> Reason: <%=item[2]%></p>
    <% }) %>
    <%}%>
</body>
<%-include ('footer')-%>